{% extends '_base.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/IMG_0695.JPEG' %}" type="image/x-icon">

    <title>ثبت نام</title>

    <!-- links -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock head %}

{% block body %}


<!-- start login -->

<section id="logined" class="h-100vh">
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <h3 class="text-white text-center mb-3">ثبت نام</h3>
                </div>
                <div class="login-box">
                    <form action="{% url 'accounts:signup' %}" method="post">
                        {% csrf_token %}
                        {% if forms.errors %}
                            <div class="alert alert-danger">
                                {{ forms.errors }}
                            </div>
                        {% endif %}
                        <div class="user-box">
                            <input type="text" name="username" required="">
                            <label>ایمیل / نام کاریری <span>*</span></label>
                        </div>
                        <div class="user-box">
                            <input type="password" name="password1">
                            <label for="">رمز عبور <span>*</span></label>
                        </div>
                        <div class="user-box">
                            <input type="password" name="password2">
                            <label for="">تکرار رمز عبور <span>*</span></label>
                        </div>
                        <div class="user-box">
                            <input type="text" name="phone">
                            <label for="">شماره موبایل <span>*</span></label>
                        </div>
                        <button>ثبت نام</button>

                        <div class="link-text">
                            <p>قبلا ثبت نام کرده ابد؟ <a href="{% url 'accounts:login' %}">وارد شوید</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end login  -->


<!-- back to top btn -->
<a href="#banner" id="back_to_top"></a>


<!-- scripts -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock body %}
